@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1&family=Gowun+Batang&family=Jua&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&family=Numans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
}
body::-webkit-scrollbar {
  display: none;
}
body .search {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
}
body .search .search_bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 40px;
}
body .search .search_bar .search_box {
  width: 300px;
  height: 40px;
  background: #000000;
  border: 2px solid #fff;
  border-radius: 20px;
  padding-left: 15px;
  opacity: 0.5;
  outline: none;
  transition: all 0.3s;
}
body .search .search_bar .search_box::-moz-placeholder {
  color: #fff;
}
body .search .search_bar .search_box::placeholder {
  color: #fff;
}
body .search .search_bar .search_box:focus {
  background: #d3d3d3;
  border: 2px solid #ff4f4f;
}
body .search .search_bar .bookmark_btn {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: none;
  background: transparent;
  color: #ff5151;
  font-size: 35px;
  transition: all 0.3s;
  cursor: pointer;
}
body .search .search_bar .bookmark_btn:hover {
  color: #ee3232;
}
body .search_result {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 120px;
  padding-left: 80px;
  padding-bottom: 80px;
  overflow-y: auto;
}
body .search_result::-webkit-scrollbar {
  display: none;
}
body .search_result .result_card {
  width: 350px;
  background: #191919;
  border-radius: 10px;
  cursor: pointer;
}
body .search_result .result_card .result_card_img {
  width: 100%;
  height: 200px;
}
body .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .header {
  width: 100%;
  height: 700px;
}
body .container .header .header_contents {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .container .header .header_contents .gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}
body .container .header .header_contents .gradient .header_inner {
  width: 100%;
  height: 100%;
  padding: 100px;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
body .container .header .header_contents .gradient .header_inner img {
  width: 300px;
  margin-left: -50px;
}
body .container .header .header_contents .gradient .header_inner h1 {
  margin-top: -30px;
  font-size: 40px;
  margin-bottom: 10px;
}
body .container .header .header_contents .gradient .header_inner .header_btn {
  width: 100%;
  height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 5px;
  gap: 20px;
}
body .container .header .header_contents .gradient .header_inner .header_btn button {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #ff5151;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
  cursor: pointer;
}
body .container .header .header_contents .gradient .header_inner .header_btn button:hover {
  background: #ee3232;
}
body .container .header .header_contents .gradient .header_inner p {
  line-height: 1.7rem;
  margin-top: 5px;
  margin-left: 5px;
}
body .container .recent_movie .tag {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
body .container .recent_movie #recent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 0 40px;
}
body .container .recent_movie #recent .recent_card {
  width: 350px;
  height: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #191919;
  cursor: pointer;
}
body .container .recent_movie #recent .recent_card .recent_card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}
body .container .recent_movie #recent .recent_card .recent_card_img:hover {
  opacity: 0.6;
}
body .container .recent_movie #recent .recent_card .recent_card_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 0 10px;
}
body .container .recent_movie #recent .recent_card .recent_card_desc .recent_card_title {
  color: #dadada;
  font-size: 15px;
  font-weight: bold;
}
body .container .recent_movie #recent .recent_card .recent_card_desc .recent_card_star {
  color: #dadada;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
}
body .container .banner {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  margin-top: 100px;
  margin-bottom: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .container .banner p {
  margin-left: 100px;
  font-size: 35px;
  font-weight: bold;
}
body .container .banner .upcoming_btn {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background: #ff5151;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 100px;
  transition: all 0.3s;
  cursor: pointer;
}
body .container .banner .upcoming_btn:hover {
  background: #595959;
}
body .container .top_rated_movie .tag {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
body .container .top_rated_movie #top_rated {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 0 40px;
}
body .container .top_rated_movie #top_rated .toprated_card {
  width: 350px;
  height: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #191919;
  cursor: pointer;
}
body .container .top_rated_movie #top_rated .toprated_card .toprated_card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}
body .container .top_rated_movie #top_rated .toprated_card .toprated_card_img:hover {
  opacity: 0.6;
}
body .container .top_rated_movie #top_rated .toprated_card .toprated_card_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 0 10px;
}
body .container .top_rated_movie #top_rated .toprated_card .toprated_card_desc .toprated_card_title {
  color: #dadada;
  font-size: 15px;
  font-weight: bold;
}
body .container .top_rated_movie #top_rated .toprated_card .toprated_card_desc .toprated_card_star {
  color: #dadada;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
}
body .container footer {
  width: 100%;
  height: 300px;
  background: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
body .container footer img {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -10px;
  opacity: 0.6;
}
body .container footer p {
  color: #6d6d6d;
  font-size: 15px;
  margin-top: 7px;
}
body #recent_modal,
body #top_rated_modal {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  justify-content: center;
  align-items: center;
}
body #recent_modal .modal_wrap,
body #top_rated_modal .modal_wrap {
  width: 1300px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
}
body #recent_modal .modal_wrap #close_modal,
body #top_rated_modal .modal_wrap #close_modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  cursor: pointer;
}
body #recent_modal .modal_wrap .modal_desc,
body #top_rated_modal .modal_wrap .modal_desc {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 30px;
  padding-bottom: 20px;
}
body #recent_modal .modal_wrap .modal_desc .modal_star,
body #top_rated_modal .modal_wrap .modal_desc .modal_star {
  font-family: "Numans", serif;
  margin-bottom: 100px;
  font-weight: bold;
  letter-spacing: 1px;
}
body #recent_modal .modal_wrap .modal_desc .modal_genre,
body #top_rated_modal .modal_wrap .modal_desc .modal_genre {
  font-weight: bold;
}
body #recent_modal .modal_wrap .modal_desc .modal_title,
body #top_rated_modal .modal_wrap .modal_desc .modal_title {
  font-family: "Noto Sans KR", serif;
  margin: 20px 0 5px 0;
  font-size: 40px;
  font-weight: bold;
}
body #recent_modal .modal_wrap .modal_desc .modal_original_title,
body #top_rated_modal .modal_wrap .modal_desc .modal_original_title {
  font-family: "Numans", serif;
  margin-bottom: 5px;
  font-size: 27px;
  font-weight: bold;
}
body #recent_modal .modal_wrap .modal_desc .modal_date,
body #top_rated_modal .modal_wrap .modal_desc .modal_date {
  font-family: "Numans", serif;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
body #recent_modal .modal_wrap .modal_desc .modal_summary,
body #top_rated_modal .modal_wrap .modal_desc .modal_summary {
  font-family: "Noto Sans KR", serif;
}/*# sourceMappingURL=style.css.map */